.todo-list {
  display: flex;
  flex-direction: column;
  margin: 100px;

  &__item-list {
    list-style-type: none;
  }

  &__form-button {
    width: 10vh;
    height: 5vh;
    background-color: salmon;
    border: none;
    border-radius: 5px;
  }
}
